@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navigation area styling  */
nav {
    height: 65px;
    width: 100%;
    padding: 0 8%;
    background: #021b18;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 13px;
    border-radius: 5px;
    transition: all ease .5s;
}

nav .brand h1 {
    font-size: 35px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

nav ul li a:hover {
    background: rgb(255, 255, 255);
    color: rgb(20, 20, 20);
}

.color {
    color: crimson;
}

#click {
    display: none;
}

.manu-btn {
    display: none;
}

/* hero area styling here  */
.hero {
    min-height: calc(100vh - 65px);
    width: 100%;
    background-image: linear-gradient(rgba(4,8,30,0.6),rgba(4,8,30,0.6)),url(./images/bg.jpg);
    background-position: center;
    background-size: cover;
}

.text-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:  100px 100px;
    flex-direction: column;
    height: calc(100vh - 65px);
}

.hero h1 {
    font-size: 70px;
    color: #fff;
    text-align: center;
}

.hero p {
    font-size: 18px;
    color: #fff;
    text-align: center;
}

@media (max-width: 970px) {
    nav ul {
        position: fixed;
        top: 65px;
        left: -100%;
        height: 100vh;
        width: 100%;
        background: rgba(0, 0, 0, 0.95);
        display: block;
        align-items: center;
        text-align: center;
        transition: all ease 0.7s;
        z-index: 2;
    }
    nav .brand h1 {
        font-size: 30px;
        color: #fff;
        font-weight: 700;
        cursor: pointer;
    }
    nav ul li a:hover {
        background: transparent;
        color: crimson;
    }
    
    nav ul li {
        margin: 60px 0;
    }
    .manu-btn {
        display: block;
        color: rgb(250, 237, 237);
        font-size: 22px;
    }
    #click:checked ~ ul {
        left: 0;
    }
    #click:checked ~ .manu-btn i::before {
        content: "\f00d";
    }
    /* hero section styling  */
    .info {
        padding: 40px;
    }
    
    .hero h1 {
        font-size: 28px;
    }
    
    .hero p {
        font-size: 18px;
    }
}

